@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes floating{
    0%{transform: translate(0, 20px);}
    50%{transform: translate(0, -20px);}
    100%{transform: translate(0, 20px);}
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    overflow-x: hidden;
    background-image: url(../images/cheeriosbackground.jpg);
    backdrop-filter: brightness(50%) saturate(150%);
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: "Poppins";
    letter-spacing: 2px;
    font-size: 3rem;
    text-wrap: nowrap;
    margin-bottom: 3rem;
}

main p{
    line-height: 2rem;
    font-family: sans-serif;
    font-weight: 600;
}

#section_1 main p{
    margin-bottom: 0.5rem;
}

a,
footer p{
    font-family: sans-serif;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
}

a{
    text-wrap: nowrap;
}

a:hover{
    text-decoration: underline;
}

input[type="radio"]{
    margin-bottom: 10px;
    margin-right: 5px;
}

table{
    font-size: 24px;
    font-family: monospace;
    color: black;
    border-spacing: 0;
    margin: 0 auto;
}

tr,
th{
    outline: black solid 2px;
}

tr{
    height: 80px;
}

th,
td{
    background-color: rgb(49, 49, 49);
}

tr:nth-child(even) th,
tr:nth-child(even) td{
    background-color: rgb(40, 40, 40);
}

th,
td{
    width: 80px;
}

td:last-child{
    width: 320px;
}

table img{
    height: 80px;
    width: 80px;
    display: inline;
}

th:first-child{
    opacity: 0;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    color: white;
    padding: 5px;
}

th:has(+ th:hover) {
    opacity: 1;
}

section{
    color: rgb(92, 215, 239);
    background-image: linear-gradient(rgb(8, 42, 67), rgb(3, 4, 55));
}

section,
footer{
    width: 70vw;
    height: fit-content;
    min-width: min(800px, 100vw);
    min-height: 100vh;
    padding: 5vw;
    scroll-snap-align: center;
}

iframe{
    width: 80%;
    max-height: 70vh;
    aspect-ratio: 4/3;
}

#accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 50px;
}

#accueil a{
    background-color: black;
    outline: white solid 1px;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

#accueil .text_container{
    flex: 1 0 200px;
    height: fit-content;
}

.img_container{
    width: 60%;
    flex: 0 1 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: floating 3s infinite ease-in-out;
}

.img_container img{
    width: 100%;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 25px;
    z-index: 11;
    padding: 10px;
    flex-wrap: wrap;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: fit-content;
}

header a{
    color: white;
}

article img{
    height: 100px;
}

article{
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

article:hover{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px 10px;
}

#section_4 main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

#section_1{
    color: rgb(254, 12, 68);
    background-image: linear-gradient(rgb(2, 7, 28), rgb(10, 2, 16));
}

#section_2{
    padding-left: calc(5vw - 80px);
    color: rgb(92, 255, 130);
    background-image: linear-gradient(rgb(1, 15, 7), rgb(4, 88, 68));
}

#section_3{
    color: rgb(255, 253, 135);
    background-image: linear-gradient(rgb(18, 7, 38), rgb(26, 7, 25));
}

#section_4{
    color: rgb(132, 90, 255);
    background-image: linear-gradient(rgb(0, 0, 48), rgb(58, 0, 62));
}

#section_3 main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer img{
    width: 20%;
    padding: 50px;
    animation: rotate infinite 2s;
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
}